.form-container{
  background-color:aqua;
 
}
.register-form{
  margin-left: 50px;;
  margin-top: 50px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-around; */
  width:300px;
}
.form-field{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.submit{

color:red;
/* background-image: url('../src/assets/img_onboarding_illustration1.png'); */
}